n8n_guardian_workflow.json
{
  "name": "GUARDIAN HITL — Alert + Text Decision",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guardian-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-alert-webhook",
      "name": "Guardian Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 200],
      "webhookId": "guardian-alert-00001"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $vars.TELEGRAM_CHAT_ID, text: 'GUARDIAN ALERT\\n--------------------\\nDomain: ' + $json.body.domain + '\\nTool: ' + $json.body.tool_name + '()\\nAttack: ' + $json.body.classified_attack + '\\nRisk: ' + ($json.body.risk_score * 100).toFixed(0) + '%\\n\\nBlast Radius:\\n' + $json.body.counterfactual + '\\n--------------------\\nContext ID: ' + $json.body.context_id + '\\n\\nReply with:\\n  block ' + $json.body.context_id + '\\n  allow ' + $json.body.context_id + '\\n  shadow ' + $json.body.context_id }) }}"
      },
      "id": "node-send-alert",
      "name": "Send Alert to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 200]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"alert_sent\" }",
        "options": {}
      },
      "id": "node-alert-ack",
      "name": "Ack Alert to Guardian",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 200]
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ed6aba6d-e155-4632-8b38-132d37bdfc9c",
      "name": "Telegram Message Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 500],
      "webhookId": "telegram-callback-00002"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/hitl/decision",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ text: $json.body.message.text }) }}"
      },
      "id": "node-post-decision",
      "name": "POST to Guardian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [480, 500]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $vars.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ chat_id: $vars.TELEGRAM_CHAT_ID, text: 'Logged to GUARDIAN\\n' + $('Telegram Message Webhook').item.json.body.message.text }) }}"
      },
      "id": "node-confirm",
      "name": "Confirm to User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 500]
    },

    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "8dce46f5-878b-44af-958e-8cb222cb61ac",
      "name": "Ack Telegram",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 500]
    }
  ],
  "connections": {
    "Guardian Alert Webhook": {
      "main": [[{ "node": "Send Alert to Telegram", "type": "main", "index": 0 }]]
    },
    "Send Alert to Telegram": {
      "main": [[{ "node": "Ack Alert to Guardian", "type": "main", "index": 0 }]]
    },
    "Telegram Message Webhook": {
      "main": [[{ "node": "POST to Guardian", "type": "main", "index": 0 }]]
    },
    "POST to Guardian": {
      "main": [[{ "node": "Confirm to User", "type": "main", "index": 0 }]]
    },
    "Confirm to User": {
      "main": [[{ "node": "Ack Telegram", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9a61ab123bc53787c93c9804e933a405ae1c8687079479868827453b768052e3"
  }
}
